.toolbar-nav {
    display: flex;
    justify-content: space-between;

    &--left {
        display: flex;
        align-items: center;
    }

    &--right {
        display: flex;
        align-items: center;

        &--links {
            margin: auto 0;
            display: flex;
            list-style-type: none;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
    }
}

.table-detail {

    &--par {
        padding: 2rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.form {
    margin-bottom: 15px;

    &__field {
        margin-bottom: 15px;
    }
}

.product__table {
    padding: 0 7rem;

    &-desc {
        margin: 4rem 0;
        &--d {
            text-align: center;
        }

        &--m {
            text-align: center;
        }
    }

    &-images {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
    }

    &-image {
        border: 1px solid #3A446B;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 583px;
        width: 466px;
        padding: 1rem;

        &--img {
            max-height: 100%;
            max-width: 100%;
        }

        &--btns {
            display: flex;
            justify-content: center;
            gap: 2rem;

            min-height: 50px;
            margin-top: auto;
        }

        
    }

    &-hr {
        width: 60%;
        margin: 1rem auto;
    }
}

.form__field--upl {
    display: none;
}

.reviewEdited {
    font-weight: 600;
    font-size: 16px;
}

.chart {
    padding: 40px;
    width: 70%;
    height: 70%;
    margin: 0 auto;
}
