.products {
    
    h3 {
        color: #3a446b;
    }
}

.aboutUs {
    margin-bottom: 50px;
}

.aboutUs {
    padding: 30px;
}

.tos {
    padding: 30px;
}

.about-text {
    text-indent: 4.5rem;
    font-size: 1.1rem;
    margin-bottom: 15px;
    letter-spacing: .05em
}