.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    width: 100%;

    &--sidebar {
        width: 20%;
        padding: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &--products {
        padding: 20px;
        width: 75%;

        &-filter {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-items {
            margin: 30px 0;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}