.cart {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}


.placeorder {
    margin-top: 30px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &-userDetails {
        margin-bottom: 30px;
    }
}

.cartList {
    margin-top: 30px;
    width: 100%;
}

.isPaid {
    color: green;
}

.notPaid {
    color: orange;
}

.delivered {
    color: green;
}

.failed {
    color: darkred;
}

.checkout-tabel {
    width: 30rem;
    height: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkout-label {
    width: 100%;
}